* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Serif Display', serif;
    font-family: 'Josefin Sans', sans-serif;
}
nav{
    height: 15vh;
    background-color: rgb(138, 97, 43);
}
.wrapper{
    margin: 0 auto;
    max-width: 800px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    margin: 20px;
}

li a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    color: rgb(217, 102, 102)
}
.middle-text{
    font-size: 30px;
    color: aliceblue;
    background-color: brown;
    border-radius: 20px;
    padding: 20px;
}